<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Interface Detail</h4>
</div>
<div class="modal-body">
	<dl>
		 <dt>Interface Name</dt>
		 <dd>{{ object.Name }}</dd>
		 <dt>Interface Device</dt>
		 <dd>{{ object.device }}</dd>
         <dt>Interface Description </dt>
		 <dd>{{ object.description }}</dd>
	</dl>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>