<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Net Set Detail</h4>
</div>
<div class="modal-body">
	<dl>
		 <dt>Net Set Name</dt>
		 <dd>{{ object.name }}</dd>
         <dt>Net Set Address </dt>
		 <dd>{{ object.buildSet }}</dd>
	</dl>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>