{% extends "base.html" %}

{% block content %}
<h2>Audit Log Information</h2>

<table id="datatable" class="display table">
    <thead>
    <tr>
        <th>Log</th>
        <th>Action</th>
        <th>Date</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
    <tr >
        <td>{{ log }}</td>

        <td>
            {% if log.action_type == "I" %}
            	<span style="font-size:14px; color:#009900" class="glyphicon glyphicon-plus" data-toggle="tooltip" title="{{ filter.action }}"></span>
                Insert
            {% elif log.action_type == "U" %}
            	<span style="font-size:14px; color:#999900" class="glyphicon glyphicon-edit" data-toggle="tooltip" title="{{ filter.action }}"></span>
                Update
            {% elif log.action_type == "D"%}
            	<span style="font-size:14px; color:#AA0000" class="glyphicon glyphicon-minus" data-toggle="tooltip" title="{{ filter.action }}"></span>
                Delete
            {% endif %}</td>
        <td>{{ log.action_date|date:"Y-M-d H:i:s" }}</td>
        <td>{{ log.action_user }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">

$(document).ready(function(){
    var table = $('#datatable').DataTable({
        "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ] ,
        "pageLength": 50,
         "order": [[ 2, "desc" ]],
    });
});
 </script>
{% endblock %}

