{% extends "base.html" %}

{% block content %}

    <h2> Apply Rules:
        <a href="{% url 'rule-apply' %}">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Rule Apply">
                <span class="glyphicon glyphicon-ok"></span> Save and Apply
            </button>
        </a>
        <a href="{% url 'rule-save' %}">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Rule Apply">
                <span class="glyphicon glyphicon-save"></span> Only Save
            </button>
        </a>
    </h2>
    <h2>Hostnames:IP Cache List</h2>
    <ul>
        {% for hostname in hostnames %}
            <li>{{ hostname }}</li>
        {% endfor %}
    </ul>
    <h2>NAT List</h2>
    <ul>
        {% for nat in nats %}
            <li>{{ nat }}</li>
        {% endfor %}
    </ul>
    <h2>Rule List</h2>
    <ul>
        {% for rule in rules %}
            <li>{{ rule }}</li>
        {% endfor %}
    </ul>
    <h2>Shapping List</h2>
    <ul>
        {% for shapp in shapping %}
            <li>{{ shapp }}</li>
        {% endfor %}
    </ul>

    <h2>Rule Save/Restore List</h2>
    <ul>
        {% for restore in restores %}
            <li>{{ restore }}</li>
        {% endfor %}
    </ul>
{% endblock %}